---
import { getCollection } from 'astro:content'
import BookCard from '../cards/BookCard.astro'

const books = (await getCollection('books'))
  .map(book => ({
    title: book.data.title,
    author: book.data.author,
    rating: book.data.rating,
    date: book.data.date,
    cover: '/carti/' + book.id + '.webp',
  }))
  .sort((book1, book2) => {
    if (book1.date > book2.date) return -1
    if (book1.date < book2.date) return +1
    return 0
  })
---

<section class="my-8 grid gap-4 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
  {books.map(book => <BookCard title={book.title} author={book.author} rating={book.rating} cover={book.cover} />)}
</section>
