---
import { getCollection } from 'astro:content'
import SerialCard from '../cards/SerialCard.astro'

const series = (await getCollection('series'))
  .map(serial => ({
    title: serial.data.title,
    rating: serial.data.rating,
    date: serial.data.date,
    cover: '/seriale/' + serial.id + '.webp',
  }))
  .sort((serial1, serial2) => {
    if (serial1.date > serial2.date) return -1
    if (serial1.date < serial2.date) return +1
    return 0
  })
---

<section class="my-8 flex flex-wrap gap-4">
  {series.map(serial => <SerialCard title={serial.title} rating={serial.rating} cover={serial.cover} />)}
</section>
