---
import { getCollection } from 'astro:content'
import TechnologyCard from '../cards/TechnologyCard.astro'
import { fileIndex, fileName } from '../../utils/files'

const technologies = (await getCollection('technologies'))
  .sort((technology1, technology2) => fileIndex(technology1.id) - fileIndex(technology2.id))
  .map(technology => ({
    name: technology.data.name,
    rating: technology.data.rating,
    logo: '/tehnologii/' + fileName(technology.id) + '.svg',
  }))
---

<section class="my-8 grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
  {technologies.map(technology => <TechnologyCard name={technology.name} rating={technology.rating} logo={technology.logo} />)}
</section>
