---
import Twemoji from '../general/Twemoji.vue'

type Props = {
  name: string
  rating?: string
  logo: string
}

const { name, rating, logo } = Astro.props
---

<article class="group relative flex flex-col items-center gap-4 bg-gray-800 p-4">
  <div class="flex aspect-square h-20 items-center justify-center">
    <img class="max-h-full max-w-full" src={logo} alt={name} />
  </div>
  <div class="font-semibold">{name}</div>
  {
    rating && (
      <div class="absolute bottom-4 right-4 hidden aspect-square h-4 group-hover:block">
        <Twemoji emoji={rating} />
      </div>
    )
  }
</article>
