---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import PostCollection from '../../components/collections/PostCollection.astro'
import { slugify } from '../../utils/slugs'

export async function getStaticPaths() {
  const posts = await getCollection('posts')
  const tags = [...new Set(posts.map(post => post.data.tags).flat())]
  return tags.map(tag => ({
    params: { slug: slugify(tag) },
    props: { tag, slugs: posts.filter(post => post.data.tags.includes(tag)).map(post => post.slug) },
  }))
}

const { tag, slugs } = Astro.props
---

<BaseLayout title={tag} category="blog">
  <h1 class="mb-12 text-5xl font-bold">Postări <span class="text-purple-300">{tag}</span></h1>
  <PostCollection selection={slugs} />
</BaseLayout>
