---
import type { MarkdownLayoutProps } from 'astro'
import BaseLayout from './BaseLayout.astro'
import MarkdownContainer from '../components/general/MarkdownContainer.astro'

type Props = MarkdownLayoutProps<{
  title: string
  category: string
}>

const { frontmatter } = Astro.props
---

<BaseLayout title={frontmatter.title} category={frontmatter.category}>
  <div class="[&_p]:max-w-4xl [&_ul]:max-w-5xl">
    <MarkdownContainer title={frontmatter.title}>
      <slot />
    </MarkdownContainer>
  </div>
</BaseLayout>
